<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minos register page</title>
</head>
<body>
    <h1>Welcome!</h1>
    <p>This is a testing page for minos, modrinth's authentication platform.</p>
    <p>Don't mind the crudeness of that page, this is not meant to look good :tiny_potato:</p>
</body>
</html>